<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geopic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity android:name="com.example.geopic.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.geopic.HomeActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.geopic" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.geopic.MainActivity" />
        </activity>
        <activity
            android:name="com.example.geopic.Preview"
            android:label="@string/app_name"
            android:parentActivityName="com.example.geopic.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.geopic.MainActivity" />
        </activity>
        <activity
            android:name="com.example.geopic.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.geopic.LocationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.geopic.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.geopic.FullImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_image"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.example.geopic.ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
    </application>

</manifest>
